/* CHOOSE CHARACTER MENU */
button {
  background: none;
}
#navigasi {
  font-family: "Viga", sans-serif;
}

#navigasi img {
  width: 30px;
}

#selection {
  padding-bottom: 300px;
}

#canvas1,
#canvas2,
#canvas3 {
  width: 200px;
  height: 200px;
}
/* END CHOOSE CHARACTER MENU */
